<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


    <script src="Scripts/jquery-1.7.1.min.js"></script>
    <script src="Scripts/jquery-1.7.1.js"></script>


    <script type="text/javascript">        //this gets JSON data from an url	
        // and execute any waiting functions
        //$(Document).ready(function () {
        //    //self.status("");

        //    var book = {
        //        title: "WebForm"
        //    };

        //    $.ajax({
        //        url: 'api/Values',
        //        cache: false,
        //        //dataType: 'json',
        //        type: 'POST',
        //        //traditional: true,
        //        contentType: 'application/json; charset=utf-8',
        //        data: JSON.stringify(book),
        //        statusCode: {
        //            201 /*Created*/: function (data) {
        //                self.products.push(data);
        //            }
        //        }
        //    });
        //});



    </script>

    <title></title>
</head>
<body>
    <div id="test"></div>
</body>
</html>

